<!DOCTYPE html>
<!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">-->
<style>
    body {
        background-color: aquamarine;
    }
    h1 {
        font-family: OCR A Std, monospace;
    }
    h2 {
        font-family: OCR A Std, monospace;
    }
    .button {
        background-color: hsl(221, 58%, 43%);
        color: white;
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 5px;
    }

    .button:hover, .button:active {
        background-color: rgb(153, 167, 245);
    }

</style>

<title>Page Edit</title>
<!-- url_for() finds the route to the given function, and we can pass its parameters as well -->
<!-- input type="hidden" can pass information without it needing to be entered by the user-->

{{error}}

<h1>Currently Editing: {{page}}</h1>
<p>Make your edits using the <a href="https://www.markdownguide.org/basic-syntax/">Markdown</a> syntax.</p>

<form action="{{url_for('get_edit_form', page_name = page)}}" method="POST">

    <input type="hidden" name=page id=page value={{page}}></input>

    <p><label for="content_box">"Enter your changes:"</label></p>

    <p>
        <textarea id="content_box"
        name="contents"
        style="width: 750px; font-size: 14px; height: 500px;">{{current_contents}}</textarea>
    </p>

    <p><label for="changes_box">Briefly describe what changes you've made:</label></p>
    <p><textarea id="changes_box" name="changes" style="width: 750px;"></textarea></p>

    <p><label for="name_box">Editor's full name:</label></p>
    <p><textarea id="name_box" name="full_name" style="width: 750px;"></textarea></p>

    <p><label for="email_box">Editor's email address:</label></p>
    <p><textarea id="email_box" name="email" style="width: 750px;"></textarea></p>

    <p><input type="submit" class="button"></input></p>

</form>
