<!DOCTYPE html>
<style>
    body {
        background-color: aquamarine;
    }
    h1 {
        font-family: OCR A Std, monospace;
    }
    h2 {
        font-family: OCR A Std, monospace;
    }
    a {
        background-color: hsl(221, 58%, 43%);
        color: white;
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 5px;
    }

    a:hover, a:active {
        background-color: rgb(153, 167, 245);
    }
</style>

<title>{{ page_name }}</title>
<h1>{{ page_name }} Edit History</h1>
<a href="/view/{{page_name}}">Back</a>

<div>
<pre>{{content}}</pre>
</div>
