<!DOCTYPE html>
<title>404: Page does not exist!</title>
<h1>404: Page does not exist!</h1>
<form>
    <p>Would you like to create this page?</p>
    <input type="hidden" id="new_page" name="new_page" value="{{page_name}}"></input>
    <input type="submit" formaction="/add/" formmethod="POST" value="Create Page"></input>
    <input type="submit" formaction="/view/FrontPage" value="Home">
</form>
